* {
    box-sizing: border-box;
}

body {
    
    font-family: 'Helvetica';
}

.container {
    width: 400px;
    text-align: center;
    border: none;
    padding: 15px;
    box-shadow: 5px 10px 18px #888888;
    margin: auto;
    
    /* Para colocar el container en el centro 
    top: 50%;
    right: 0;
    left: 0;
    position: absolute;
    transform: translate(0, -50%);
    */
    
}

.container h2 {
    /*linear gradient genera un fondo que va desde un color a otro sin que se note el cambio */
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    
    color: white;
    padding: 15px 10px 10px;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
}

.container input {
    width: 100%;
    height: 50px;
    border: 1px solid #FBAB7E;
    outline: none;
    padding: 15px;
    font-size: 1.2em;
}

.container ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

.container li {
    vertical-align: middle;
    padding: 15px;
    background-color: #f2f2f2;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border: none;
}

.container ul li span.btnRemove {
    padding: 5px;
    background-color: salmon;
    border: none;
    font-size: 18px;
    /* text-decoration-line: none !important; */
    cursor: pointer;
    float: right;
    position: relative;
    top: -3px;
    border-radius: 50%;
    
    height: 25px;
    width: 25px;
    line-height: 18px; 
}

.container ul li span.btnRemove:hover {
    background-color: #F7CE68;
}

.container li:nth-child(even) {
    background-color: #e0dfdf;
}

.container li:hover {
    background-color: #FBAB7E;
}

.container li.done {
    background-color: #9DC3C2;
    /* text-decoration-line: line-through; */
}
